body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: linear-gradient(#6fb1fc, #4286f4);
}

.body {
	display: flex;
	flex-direction: column;
	flex: 4;
	background: linear-gradient(#6fb1fc, #4286f4);

	align-items: center;
	padding-top: 50px;
}

.loader {
	display: flex;
	width: 40px;
	height: 40px;
	border: 4px solid #ccc;
	/* Light gray background ring */
	border-top: 4px solid #3498db;
	/* Blue spinning part */
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin: 20px auto;
	/* Center horizontally */
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}



#city--search {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;

}

.search--bar{
	margin-top: 10px;
}

.input--label{
	font-weight: 600;
	font-size: 1.3rem;
	margin-bottom: 20px;
}

#city--input{
	border-radius: 10px;
	width: 20rem;
	height: 2rem;
}

.submit{
	width: 4rem;
	height: 2rem;
}

.weathercard>p,
.weathercard>h1,
.weathercard>h2 {
	color: #b8c1ec;
}

.header {
	display: flex;
	align-items: center;
	padding: 10px;
	flex: 0.2;
	background-color: lightcoral;
}



.weathercard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 50%;
	width: 40%;
	max-width: 20%;
	min-width: fit-content;
	min-height: auto;
	padding: 20px;
	background-color: #1a1d35;
	box-shadow: 3px 3px 10px;
	border-radius: 5px;
}


.hidden {
	display: none;
}


.title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.stats {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

.temps,
.other {
	display: flex;
	justify-content: space-around;

	padding: 30px;
}

.cell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px;
}



.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0.3;
	background-color: lightgray;
}
