body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  flex: 0.5;
  background-color: lightcoral;
}

.body {
  display: flex;
  flex: 4;
  background-color: lightblue;

  justify-content: center;
  align-items: center;
}

.weathercard{
  display: flex;
  height: 80%;
  width: 40%;
  max-width: 500px;
  padding:20px;
  background-color: green;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
  background-color: lightgray;
}
