body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  flex: 0.3;
  background-color: lightcoral;
}

.body {
  display: flex;
  flex: 4;
  background-color: lightblue;

  justify-content: center;
  align-items: center;
}

.weathercard{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 40%;
  max-width: 20%;
  min-width: fit-content;
  padding:20px;
  background-color: green;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1;
}

.temps, .other{
  display: flex;
  justify-content: space-around;

  padding:30px;
}

.cell{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:15px;
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.3;
  background-color: lightgray;
}
