body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#city--search{
  margin-bottom: 40px;
}

.weathercard > p, 
.weathercard > h1, 
.weathercard > h2{
  color:#b8c1ec;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 0.3;
  background-color: lightcoral;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 4;
  background-color: lightblue;

  align-items: center;
  padding-top: 50px;
}

.weathercard{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 40%;
  max-width: 20%;
  min-width: fit-content;
  min-height: auto;
  padding:20px;
  background-color: #1a1d35;
  box-shadow: 3px 3px 10px;
  border-radius: 5px;
}


.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1;
}

.temps, .other{
  display: flex;
  justify-content: space-around;

  padding:30px;
}

.cell{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:15px;
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.3;
  background-color: lightgray;
}
